security.txt does not conform with the current format

A required field is the "expires" field. Description as follows:

```
   This field indicates the date and time after which the data contained
   in the "security.txt" file is considered stale and should not be used
   (as per Section 6.3).  The value of this field follows the format
   defined in section 3.3 of [RFC5322].  It is RECOMMENDED that the
   value of this field be less than a year into the future to avoid
   staleness.

   This field MUST always be present and MUST NOT appear more than once.

   Expires: Thu, 31 Dec 2021 18:37:07 -0800
```

Also see <https://securitytxt.org/>

A good `Expires` date might be when the board is expected to change. This can then be put in the handover document; and gives the new board an opportunity to re-evaluate the responsible disclosure policy.